<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="static/basic.css" rel="stylesheet">
   <h1>CDC PLACES Community Health Estimator</h1>
   
</head>

<body>
   
    <h3>
         <a href = "{{ url_for('index') }}"></a>
    </h3>

    <!-- <hr/> -->
    <!-- <table>
         <thead>
            <tr>
               <th>Category</th>
               <th>Measure</th>
               <th>Description</th>
            </tr>
         </thead>
         <tbody>
            {% for measure in measures %}
               <tr>
                   <td>{{ measure.category }}</td>
                   <td>{{ measure.measureid }}</td>
                   <td>{{ measure.short_question_text }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table> -->
      <!-- <div class="slider-container">
            <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
            <span id="demo">0</span>
      </div> -->
      <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
         <div class="m-5" >
      <dl> 
         <h3>Community Health Outcome Measurements</h3>
         {% for measure in hlth_outcomes %}
         <p>
         <label for="customRange1" class="form-label">{{ measure.short_question_text }}</label>
         <input name="{{ measure.measureid }}" type="range" class="form-range" id="{{ measure.measureid }}"
                min="0" max="100">
         </p>
         {% endfor %}

         <h3>Community Health Risk Behavior Measurements</h3>
         {% for measure in hlth_behaviors %}
         <p>
         <label for="customRange1" class="form-label">{{ measure.short_question_text }}</label>
         <input name="{{ measure.measureid }}" type="range" class="form-range" id="{{ measure.measureid }}"
                min="0" max="100">
         </p>
         {% endfor %}
         <h3>Community Preventative Measurements</h3>
         {% for measure in hlth_prevention %}
         <p>
         <label for="customRange1" class="form-label">{{ measure.short_question_text }}</label>
         <input name="{{ measure.measureid }}" type="range" class="form-range" id="{{ measure.measureid }}"
                min="0" max="100">
         </p>
         {% endfor %}
         <h3>Community Demographics</h3>
         <p>
         <label for="customRange1" class="form-label">Community Population</label>
         <input name="population" type="range" class="form-range" id="population"
                min="0" max="100000", value="5000">
         </p>
         <div class="form-check form-check-inline">
            {% for region in ["midwest", "northeast", "south", "southwest", "west"] %}
            <input class="form-check-input" type="radio" name="region" id="{{region}}" value="{{region}}" checked>
            <label class="form-check-label"> {{ region }} </label>
            {% endfor %}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </dl>
   </div>
    </form>
    
    <script>
      var slider = document.getElementById("myRange");
      var output = document.getElementById("demo");
      output.innerHTML = slider.value;
      
      slider.oninput = function() {
        output.innerHTML = this.value;
      }
      </script>
</body>
</html>